html {
    font-family: Verdana, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #190a01;
    background-color: #f8f2dd;
    letter-spacing: .3px;
}

h1 {
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1.2em 0 0.4em;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1em 0 0.2em;
}

blockquote {
    font-style: normal;
    /* margin-left: 32px; */
    border-left: 3px solid #0c003b;
    padding-left: 10px;
    font-style: italic;
}

a {
    color: gray;
}

@media (min-width: 1280px) {
    .v-container {
        max-width: 1050px !important;
    }
}

@media (min-width: 1920px) {
    .v-container {
        max-width: 1500px !important;
    }
}

pre {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

code {
    font-family: 'Courier New', monospace;
}