html{
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #190a01;
    background-color: #f8f2dd;
    letter-spacing: .3px;
}
h1 {
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
}

@media (min-width: 1280px){
    .v-container {
        max-width: 1050px !important;
    }
}
@media (min-width: 1920px){
    .v-container {
        max-width: 1500px !important;
    }
}
